.Board {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 0.35rem;
    /* align-items: center; */
    /* justify-content: center; */
    width: fit-content;
    height: fit-content;
}

.Board > .row {
    display: grid;
    width: fit-content;
    height: fit-content;
}


