
.App {
}

.App > .Howto {
      background-color: black;
      color: white;
      width: fit-content;
      height:fit-content;
}
.App > .MineSweepGame {
}


@media (min-width: 0px ) {
  .App {
    display: grid;
    height: fit-content;
    grid-template-rows: 1fr;
    /* padding: 0.8rem; */
    /* gap: 0.25fr; */
  }

  .App > .Howto  {
      visibility: collapse;
      margin-top: 0.4rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2rem;
      padding: 0.8rem;
    }

  .App > .MineSweepGame {
      /* margin-top: 2%; */
      display: grid;
      grid-template-rows: 1fr 7fr;
      margin-left: auto;
      margin-right: auto;
  }
  .App > .MineSweepGame > .header {
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .App > .MineSweepGame > .header > .reset {
    visibility: visible;
    height: fit-content;
    width: fit-content;
    font-size: 1.6rem;
  }
}
@media (min-width: 567px ) {
  .App {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 3fr;
    padding: 0.8rem;
    gap: 0.25fr;
  }

  .App > .Howto {
    visibility: visible;
    margin-top: 1.8rem;
    margin-left: 0.8rem;
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .App > .MineSweepGame {
    margin-top: 2%;
    margin-left: 10%;
  }
  .App > .MineSweepGame > .header > .reset {
    visibility: collapse;
  }
}
