
.Field {
    font-size: 1.4rem;
}

.Field > .container:hover {
    background: #222;
}

.Field > .container {
    width: 1.85em;
    height: 1.85em;
    background-color: black;
    text-align: center;
    color: #fff;
    margin-left: 0.125em;
    margin-right: 0.125em;
}

.Field > .container > *{
    padding-top: 0.4em;
}
.Field > .container > .empty {
    background-color: white;
    border: 0.18em solid black;
    width: 100%;
    height: 100%;
}
